<h1> Pandas </h1>

<h2> Series </h2>

In [14]:
import pandas as pd

In [2]:
ser1 = pd.Series ([-2,3,4,3,-1])
print(type(ser1))
print(ser1)

<class 'pandas.core.series.Series'>
0   -2
1    3
2    4
3    3
4   -1
dtype: int64

<h3> Indeces to a Series </h3>

In [3]:
#passing a list to a Series
I = [x *2 for x      in range (0,5)]
ser2=pd.Series([-2,3,4,3,-1],index = I)
print(ser2)
people=['albert','betty','charlotte','dana','elmer']
serP=pd.Series([-2,3,4,3,-1],people)
print(serP)

0   -2
2    3
4    4
6    3
8   -1
dtype: int64
albert      -2
betty        3
charlotte    4
dana         3
elmer       -1
dtype: int64

In [15]:
#Series from a  Dictionary
elem={'H':'Hydrogen', 'He':'Helium', 'Li':'Lithium', 'Be':'Beryllium','B':'Boron',
     'C':'Carbon','N':'Nitrogen'}
print("Elem Type: {}.".format(type(elem)))
serElem=pd.Series(elem)
print(serElem)
print("SerElem Type: {}.".format(type(serElem)))

Elem Type: <class 'dict'>.
H      Hydrogen
He       Helium
Li      Lithium
Be    Beryllium
B         Boron
C        Carbon
N      Nitrogen
dtype: object
SerElem Type: <class 'pandas.core.series.Series'>.

<p> <span style ="color:purple"> Convert the folloing dict in series "serElem2" and check </span>

In [16]:
elem2={'O':'Oxygen','F':'Flourine', 'Ne':'Neon', 'Na':'Sodium'}


print(type(serElem2))

NameError: name 'serElem2' is not defined

<h3> Vector-like operations </h3>

In [17]:
ladies = [1,2,3]
serP[ladies]

betty        3
charlotte    4
dana         3
dtype: int64

<p> <span style ="color:purple"> Define a list 'males' and cast it on the series serP</span>

<h4> Using the apply(function) on Series </h4>

In [18]:
serP.apply(abs)

albert       2
betty        3
charlotte    4
dana         3
elmer        1
dtype: int64

In [ ]:
serP.apply(lambda x: x**2)

<h2>Dataframe from other structures </h2>

In [19]:
import pandas as pd

<h3>Series </h3>

In [73]:
ser1=pd.Series([str('Van Beethoven'), 'Germany',1770,1827],index=['name','nation','born', 'dec'])
ser2=pd.Series(['Francois Couperin', 'France',1685,1733],index=['name','nation','born', 'dec'])
ser3=pd.Series(['J.S Bach', 'Germany', 1685, 1750],index=['name','nation','born', 'dec'] )
ser4=pd.Series(['Joseph Haydn', 'Austria', 1732, 1809],index=['name','nation','born', 'dec'] )

In [21]:
serDF = pd.DataFrame([ser1,ser2,ser3,ser4])
serDF

                name   nation  born   dec
0      Van Beethoven  Germany  1770  1827
1  Francois Couperin   France  1685  1733
2           J.S Bach  Germany  1685  1750
3       Joseph Haydn  Austria  1732  1809

In [83]:
serDF['name'].name =='name'

True

In [ ]:
def df2Dic(df):
    '''converts dataframe in dictionary , assumes df is a pandas DataFrame'''
    dfDic={}
    for col in df.columns:
        dfDic[df[col].name]=df[col]
    return dfDic
D= df2Dic(serDF)

<h3> from Dictionary </h3>

In [ ]:
#D={'name':['Van Beethoven','Francois Couperin'], 'nation':['Germany','France'], 'born':[1770,1685]}
D

In [ ]:
dicDF=pd.DataFrame(D)
dicDF

In [ ]:
#show columns
serDF.columns

<p> each <b> column </b> is a <b> named Series </b>

In [ ]:
type(serDF['name'])

In [ ]:
print(serDF.index)
print(serDF['name'].index)

<h3> Slice and accessing </h3>

In [ ]:
serDF[1:3]

In [ ]:
#access by index
serDF.iloc[3]

In [ ]:
#subsets with loc
serDF.loc[[0,3]]

In [ ]:
#filtering Rbase-like
serDF[serDF['nation']=='Germany']

<h3> Working with multiple DataFrames </h3>

In [27]:
from io import StringIO

#import hashlib

In [137]:
with StringIO("""composer, work, year
Van Beethoven,Opus 61 Violin Concerto in D major ,1806
Van Beethoven, Opus 50 Romance for Violin and Orchestra No. 2 in F major, 1798
J.S Bach, Partita No. 6 in E minor BWV 830, 1731""") as fp:
    works = pd.read_csv(fp)
works
#works['composer'] =works['composer'].astype(str)
#serDF['name'] =serDF['name'].astype(str)

        composer                                               work   year
0  Van Beethoven                Opus 61 Violin Concerto in D major    1806
1  Van Beethoven   Opus 50 Romance for Violin and Orchestra No. ...   1798
2       J.S Bach                   Partita No. 6 in E minor BWV 830   1731

<h4> merge join </h4>

In [70]:
A.columns

Index(['name', 'nation', 'born', 'dec'], dtype='object')

In [111]:
#inner Join"
A=serDF.copy()
B=works.copy()
print("\n inner join")

I=serDF.merge(works,left_on='name', right_on='composer')
I

 inner join

,name,nation,born,dec,composer,work,year
0,Van Beethoven,Germany,1770,1827,Van Beethoven,Opus 61 Violin Concerto in D major,1806
1,Van Beethoven,Germany,1770,1827,Van Beethoven,Opus 50 Romance for Violin and Orchestra No. ...,1798
2,J.S Bach,Germany,1685,1750,J.S Bach,Partita No. 6 in E minor BWV 830,1731

In [110]:
print("\n left join")
L=A.merge(B,left_on='name', right_on='composer', how="left")
L

 left join

,name,nation,born,dec,composer,work,year
0,Van Beethoven,Germany,1770,1827,Van Beethoven,Opus 61 Violin Concerto in D major,1806.0
1,Van Beethoven,Germany,1770,1827,Van Beethoven,Opus 50 Romance for Violin and Orchestra No. ...,1798.0
2,Francois Couperin,France,1685,1733,NaN,NaN,NaN
3,J.S Bach,Germany,1685,1750,J.S Bach,Partita No. 6 in E minor BWV 830,1731.0
4,Joseph Haydn,Austria,1732,1809,NaN,NaN,NaN

<h4> pd.concat </h4>

In [112]:
cols =['name','nation','born', 'dec']

In [135]:
df2= pd.DataFrame([pd.Series   (['W. A. Mozart','Austria',1756,1791],index=cols)])
df2

           name   nation  born   dec
0  W. A. Mozart  Austria  1756  1791

In [136]:
dfTotal=pd.concat([A,df2])
dfTotal

                name   nation  born   dec
0      Van Beethoven  Germany  1770  1827
1  Francois Couperin   France  1685  1733
2           J.S Bach  Germany  1685  1750
3       Joseph Haydn  Austria  1732  1809
0       W. A. Mozart  Austria  1756  1791