In [1]:
import requests
import bs4

In [2]:
#link
u = "https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Israel"
#file name without extension
fileName="IsrCovid20200501"

In [3]:
u2= "https://www.tvpublica.com.ar/post/diez-grandes-libros-que-dan-respuesta-a-la-pregunta-por-el-arte"
res = requests.get(u2)
print(res.status_code)
bst= bs4.BeautifulSoup(res.text)

200

In [4]:
# request and bs objects
res = requests.get(u)
print(res.status_code)

bst= bs4.BeautifulSoup(res.text) # .text of requests object is taken as parameter
#type(bst)

200

In [5]:
#function for get number in td /table
def getNumber(inputString):
    wholeString = inputString.replace(',','')
    #print(wholeString)
    try:
        ind = wholeString.find("(")
        return int(wholeString[:ind])
    except ValueError:
        return ""
#beforeParenth("15,333)")

In [8]:
TABLE_NUMBER=2 #2   ,4
#tables[tableNum]

In [9]:
#get cases data from table in ws
tables =bst.select('table')
t2=tables[TABLE_NUMBER]

trs=t2.find_all('tr')

tds = trs[3].find_all('td')
nCols=len(tds)
print(nCols)

casesList = []
for tr in trs:
    #rowList=[]
    tds = tr.find_all('td')
    counter =0
    #print("new row -----------")
    for td in tds:
        
        #strTable += (td.text).strip(" ").strip('\t').strip('\n')
        if counter ==2:
            #rowList.append(td.text)
            cases = getNumber(td.text)
            casesList.append(cases)
        counter += 1
    
    

        
        
#print the list of cases 
casesList

6

[392,
 2406,
 61,
 399,
 157,
 257,
 393,
 54,
 447,
 4909,
 137,
 58,
 80,
 196,
 45,
 29,
 239,
 318,
 100,
 31,
 122,
 21,
 93,
 39,
 66,
 59,
 244,
 60,
 152,
 159,
 412,
 70,
 101,
 124,
 114,
 143,
 81,
 100,
 196,
 176,
 625,
 761,
 92,
 68,
 506,
 199,
 161,
 85,
 732,
 202,
 156,
 89,
 171,
 102,
 234,
 160,
 56,
 951,
 802,
 1766,
 369,
 188,
 660,
 108,
 87,
 346,
 141,
 170,
 52,
 59,
 108,
 186,
 152,
 205,
 582,
 107,
 310,
 839,
 846,
 55,
 54,
 76,
 247,
 50,
 148,
 139,
 224,
 135,
 110,
 485,
 294,
 156,
 103,
 126,
 144,
 120,
 112,
 229,
 92,
 80,
 58,
 83,
 53,
 66,
 118,
 45,
 22,
 79,
 26,
 34,
 37,
 55,
 65,
 31,
 5,
 41,
 68,
 49,
 34,
 25,
 32,
 28,
 27,
 51,
 34,
 46,
 74,
 53,
 75,
 24,
 30,
 55,
 42,
 36,
 24,
 40,
 19,
 15,
 23,
 38,
 45,
 27,
 5,
 27,
 19,
 31,
 20,
 46,
 12,
 40,
 21,
 23,
 26,
 20,
 127,
 27,
 44,
 8,
 10,
 18,
 20,
 24,
 30,
 29,
 27,
 11,
 55,
 19,
 18,
 47,
 15,
 14,
 20,
 15,
 18,
 20,
 32,
 24,
 21,
 25,
 29,
 19,
 10,
 4,
 5,
 10,
 18,
 10,
 2,
 5,
 30,
 48,
 104,
 85,
 111,
 283,
 47,
 37,
 47,
 137,
 275,
 70,
 49,
 55,
 100,
 112,
 74,
 72,
 55,
 99,
 27,
 73,
 75,
 61,
 74,
 60,
 36,
 25,
 34,
 23,
 56,
 10,
 35,
 31,
 22,
 37,
 30,
 17,
 22,
 12,
 16,
 15,
 15,
 12,
 27,
 17,
 9,
 18,
 18]

In [10]:
#adjust the list cutting inecessary rows
casesList = casesList[1:                     ]
casesList

[2406,
 61,
 399,
 157,
 257,
 393,
 54,
 447,
 4909,
 137,
 58,
 80,
 196,
 45,
 29,
 239,
 318,
 100,
 31,
 122,
 21,
 93,
 39,
 66,
 59,
 244,
 60,
 152,
 159,
 412,
 70,
 101,
 124,
 114,
 143,
 81,
 100,
 196,
 176,
 625,
 761,
 92,
 68,
 506,
 199,
 161,
 85,
 732,
 202,
 156,
 89,
 171,
 102,
 234,
 160,
 56,
 951,
 802,
 1766,
 369,
 188,
 660,
 108,
 87,
 346,
 141,
 170,
 52,
 59,
 108,
 186,
 152,
 205,
 582,
 107,
 310,
 839,
 846,
 55,
 54,
 76,
 247,
 50,
 148,
 139,
 224,
 135,
 110,
 485,
 294,
 156,
 103,
 126,
 144,
 120,
 112,
 229,
 92,
 80,
 58,
 83,
 53,
 66,
 118,
 45,
 22,
 79,
 26,
 34,
 37,
 55,
 65,
 31,
 5,
 41,
 68,
 49,
 34,
 25,
 32,
 28,
 27,
 51,
 34,
 46,
 74,
 53,
 75,
 24,
 30,
 55,
 42,
 36,
 24,
 40,
 19,
 15,
 23,
 38,
 45,
 27,
 5,
 27,
 19,
 31,
 20,
 46,
 12,
 40,
 21,
 23,
 26,
 20,
 127,
 27,
 44,
 8,
 10,
 18,
 20,
 24,
 30,
 29,
 27,
 11,
 55,
 19,
 18,
 47,
 15,
 14,
 20,
 15,
 18,
 20,
 32,
 24,
 21,
 25,
 29,
 19,
 10,
 4,
 5,
 10,
 18,
 10,
 2,
 5,
 30,
 48,
 104,
 85,
 111,
 283,
 47,
 37,
 47,
 137,
 275,
 70,
 49,
 55,
 100,
 112,
 74,
 72,
 55,
 99,
 27,
 73,
 75,
 61,
 74,
 60,
 36,
 25,
 34,
 23,
 56,
 10,
 35,
 31,
 22,
 37,
 30,
 17,
 22,
 12,
 16,
 15,
 15,
 12,
 27,
 17,
 9,
 18,
 18]

In [11]:
#days list for the DF
def generateList (casesList):
    return [i for i in range(0,len(casesList))]

In [12]:
days= [ i for i in range (1, len(casesList)+1)]
days[-4:]

[235, 236, 237, 238]

In [30]:
#building DF
import pandas as pd

df = pd.DataFrame(list(zip(days, casesList)), columns=['day','cases']  ) 
df.head(2)

   day  cases
0    1      2
1    2      2

In [31]:
#saving to csv
df.to_csv(fileName+".csv")
print("file exported as: \n"+fileName+".csv")

file exported as:
IsrCovid20000411.csv