In [1]:
import pandas as pd

In [5]:
heb = pd.read_excel('popu.xls')
heb.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,אוכלוסיה,ישוב,מס
0,NaN,NaN,NaN,396.0,NaN,NaN,NaN,412.0,NaN,NaN,NaN,808,שחר,7
1,NaN,NaN,NaN,208.0,NaN,NaN,NaN,248.0,NaN,NaN,NaN,456,תירוש,10
2,NaN,NaN,NaN,251.0,NaN,NaN,NaN,231.0,NaN,NaN,NaN,483,"ניר ח""ן",11
3,NaN,NaN,NaN,277.0,NaN,NaN,NaN,285.0,NaN,NaN,NaN,561,חצבה,13
4,NaN,NaN,NaN,172.0,NaN,NaN,NaN,180.0,NaN,NaN,NaN,352,נועם,15

In [9]:
max(heb['אוכלוסיה'])

849782

In [19]:
heb.nlargest(10,'אוכלוסיה')[['ישוב','אוכלוסיה']]

              ישוב  אוכלוסיה
1205       ירושלים    849782
1207  תל אביב -יפו    426138
1206          חיפה    277082
1062   ראשון לציון    240666
1059     פתח תקווה    225356
42           אשדוד    217959
1056         נתניה    202428
1066       באר שבע    201086
1050         חולון    187294
1045       בני ברק    178288