<h1> built-in Data Structures</h1>

<h2> Lists </h2>

In [2]:
a =[1,3,5,4,8]

c=['c', 'a', 'r', 'h']

In [3]:
c[2:]

['r', 'h']

<h3> count element appereance in a list  with <span style="color:green">.count</span></h3>

In [6]:
countable = [2,3,4,4,4,5,5,3,3,2,99,0,0,0,4,3,3,4,3]

In [11]:
times3= countable.count(3)
times99= countable.count(99)

print(" the number {:} is displayed {:} times/time".format(3, times3))
print(" the number {:} is displayed {:} times/time".format(99, times99))

 the number 3 is displayed 6 times/time
 the number 99 is displayed 1 times/time

<p> <span style="color:purple"> count all the 4 in countable   </span>

In [7]:
countable.count(4)

5

<h3> sorting </h3>

In [6]:
c.sort()
c

['a', 'c', 'h', 'r']

<h4> reverse</h4>

In [8]:
c.sort(reverse=True)
c

['r', 'h', 'c', 'a']

<h4> key </h4>

In [9]:
planets=[("Mercury", 2440, 5.43, 0.3),
        ("Venus",     6052, 5.24, 0.723),
        ("Earth",    6378,   5.52 , 1.00),
        ("Mars",     3396, 3.93,     1.530),
        ("Jupiter",  71492, 1.33,    5.210),
        ("Saturn",   60268,  0.69,   9.551),
        ("Uranus",   25559,   1.27,  19213),
        ("Neptune", 24764,   1.64,   30070)]

In [15]:
#function that returns the 2nd value: the radius
size= lambda planet: planet[1]

#check the lambda
size(planets[1])

6052

In [16]:
#using the key
planets.sort(key=size, reverse=True)

In [20]:
planets

[('Jupiter', 71492, 1.33, 5.21),
 ('Saturn', 60268, 0.69, 9.551),
 ('Uranus', 25559, 1.27, 19213),
 ('Neptune', 24764, 1.64, 30070),
 ('Earth', 6378, 5.52, 1.0),
 ('Venus', 6052, 5.24, 0.723),
 ('Mars', 3396, 3.93, 1.53),
 ('Mercury', 2440, 5.43, 0.3)]

<p> <span style="color:blue">listName</span>.sort(key = <span style="color:blue">keyName </span> )

<p> <span style="color:purple"> sort animals with key by speed , and reverse =True </span>

In [14]:
animals=[("African Elephant", 24.9, 4800),
         ("Brown Bear", 21.7, 278),
         ("Cheetah", 74.6, 54),
         ("Coyote", 42.9,13),
         ("Giraffe", 32.3, 800)
        ]

In [10]:
#use this lambda
speed = lambda animal: animal[1]

In [11]:
animals.sort(key=speed,reverse=True)
animals

[('Cheetah', 74.6, 54),
 ('Coyote', 42.9, 13),
 ('Giraffe', 32.3, 800),
 ('African Elephant', 24.9, 4800),
 ('Brown Bear', 21.7, 278)]

<p> <span style="color:purple"> sort animals with key by weight(2nd row) , and reverse =True </span>

In [16]:
#use this lambda:
weight= lambda animal:animal[2]

In [22]:
animals.sort(key=weight, reverse= True)
animals

[('African Elephant', 24.9, 4800),
 ('Giraffe', 32.3, 800),
 ('Brown Bear', 21.7, 278),
 ('Cheetah', 74.6, 54),
 ('Coyote', 42.9, 13)]

In [26]:
#check
if animals ==[('African Elephant', 24.9, 4800), ('Giraffe', 32.3, 800), ('Brown Bear', 21.7, 278), 
              ('Cheetah', 74.6, 54), ('Coyote', 42.9, 13)]:
    print("ok")
else:
    print("review pls!")

ok

In [30]:
animals.sort(key=weight, reverse=True)
animals

[('Coyote', 42.9, 13),
 ('Cheetah', 74.6, 54),
 ('Brown Bear', 21.7, 278),
 ('Giraffe', 32.3, 800),
 ('African Elephant', 24.9, 4800)]

<h3> enumerate </h3>

In [7]:
seasons = ["spring", "summer", "fall", "winter"]

In [6]:
list(enumerate(seasons)) #generate a list of tuples

NameError: name 'seasons' is not defined

In [6]:
for ind, season in enumerate (seasons):
    print(ind, season)

0 spring
1 summer
2 fall
3 winter

In [8]:
for ind, season in enumerate (seasons,1):
    print(ind, season)

1 spring
2 summer
3 fall
4 winter

<p> <span style="color:purple"> iterate over the first three months  with `enumerate()` </span>

In [2]:
months = ('January', 'February' , 'March')

In [9]:
for num, m in enumerate(months,1):
    print(num, m)

1 January
2 February
3 March

<p> <span style="color:purple"> define a list of tuples with months enumerating accordingly,  with `enumerate()` </span>

In [16]:
enumMonths= list(enumerate(months[1:],2))
enumMonths

[(2, 'February'), (3, 'March')]

<h2> tuples </h2>

<h2> Dictionaries </h2>

<h3>Default dictionaries </h3>

<p> It's a dictionary that hides the check for new keys, so it is posible to assign even if a key does not exists

In [17]:
from collections import defaultdict
DD= defaultdict (int) # empty dictionary
DD['existing-key']=5   #create one key-value pair
DD['existing-key'] += 1   # update
DD['new key'] +=1      

print(DD)

defaultdict(<class 'int'>, {'existing-key': 6, 'new key': 1})

<p> <span style="color:purple"> define an int default dictionary DD2 </span>

In [18]:
from collections import defaultdict
DD2=  defaultdict(int)

<p> <span style="color:purple"> update DD2 with A:1, B:3 A4, C:3 </span>

In [25]:
DD2['A']=1
DD2['B']=3
DD2['A']=4
DD2['C']=3
DD2

defaultdict(int, {'A': 4, 'B': 3, 'C': 3})

<h5> iterate keys and values  of a dict  with  <span style="color:blue"> items() </span> method</h5>

In [27]:
dictio ={"key1":"value1", "key2":"value2", "key3":"value3"}

In [33]:
for key, value in dictio.items():
    print(key)
    print(value)
    print()

key1
value1

key2
value2

key3
value3

<h5> iterate keys and values  of a dict  with  `zip(dictName, dictName.values()`</span> method</h5>

In [31]:
for key, value in zip(dictio, dictio.values()):
    print(key)
    print(value)
    print()

key1
value1

key2
value2

key3
value3

<h2> Sets </h2>

In [2]:
mylist=[2,3,4,4,4,3,2,1]
myset=(set(mylist))
print(myset)

{1, 2, 3, 4}

In [33]:
sentence= "this sentence has a lot of words and it is not lorem ipsum"
splitedSentence = sentence.split()
sentenceSets= [ set(w) for w in splitedSentence]  # turn to set each word  into a list by comprehension
print(sentenceSets)

[{'t', 'i', 'h', 's'}, {'s', 't', 'n', 'c', 'e'}, {'a', 'h', 's'}, {'a'}, {'t', 'l', 'o'}, {'f', 'o'}, {'r', 'o', 's', 'd', 'w'}, {'d', 'a', 'n'}, {'t', 'i'}, {'i', 's'}, {'t', 'n', 'o'}, {'r', 'o', 'm', 'l', 'e'}, {'p', 'u', 'm', 's', 'i'}]

In [34]:
#splitedSentence