<h1> Data Base</h1>

<h2> SQL Lite </h2>

IFCC

In [11]:
import sqlite3 as db

In [12]:
#file and Connect
conn = db.connect('example.db')

In [15]:
#cursor
c = conn.cursor()

<h3> Start Table and populate (INSERT INTO) </h3>

In [40]:
c.execute("DROP TABLE IF EXISTS Mus")
c.execute("CREATE TABLE Mus(id INTEGER, name TEXT, nation TEXT, born DATE, desc DATE)")

In [41]:
#insert into
c.execute("INSERT INTO Mus VALUES(1, 'Van Beethoven','Germany',1770,1827)")
c.execute("INSERT INTO Mus VALUES(2, 'J.S Bach','Germany',1685,1750)")

In [23]:
conn.commit()

<h3> Queries </h3>

In [48]:
c.execute('''
SELECT * FROM Mus
''')
results= c.fetchall()
print(type(results))
results

<class 'list'>

[(1, 'Van Beethoven', 'Germany', 1770, 1827),
 (2, 'J.S Bach', 'Germany', 1685, 1750),
 (3, 'Francoise Couperin', 'France', 1668, 1733),
 (3, 'Joseph Haydn', 'Austria', 1732, 1809),
 (5, 'Domenico Scarlatti', 'Italy', 1685, 1757)]

<p> <span style='color=purple'>Insert F Couperin 1668-1733, J Haydn AT,1732-1809 </span>

In [42]:
c.execute("INSERT INTO Mus VALUES(3,'Francoise Couperin','France',1668,1733)")
c.execute("INSERT INTO Mus VALUES(3,'Joseph Haydn','Austria',1732,1809)")
conn.commit()

In [37]:
c.execute('''
        SELECT name, born, desc 
        FROM Mus 
        WHERE nation = 'Germany'
''')
results = c.fetchall()
print(results)

[('Van Beethoven', 1770, 1827), ('J.S Bach', 1685, 1750)]

In [47]:
c.execute('''
        SELECT name, nation
        FROM Mus 
        
''')
results = c.fetchall()
print(results)

[('Van Beethoven', 'Germany'), ('J.S Bach', 'Germany'), ('Francoise Couperin', 'France'), ('Joseph Haydn', 'Austria'), ('Domenico Scarlatti', 'Italy')]

In [46]:
c.execute("INSERT INTO  Mus VALUES(5,'Domenico Scarlatti','Italy',1685,1757)")