<h1> built-in Data Structures</h1>

<h2> Lists </h2>

In [3]:
a =[1,3,5,4,8]

c=['c', 'a', 'r', 'h']

<h3> sorting </h3>

In [6]:
c.sort()
c

['a', 'c', 'h', 'r']

<h4> reverse</h4>

In [8]:
c.sort(reverse=True)
c

['r', 'h', 'c', 'a']

<h4> key </h4>

In [9]:
planets=[("Mercury", 2440, 5.43, 0.3),
        ("Venus",     6052, 5.24, 0.723),
        ("Earth",    6378,   5.52 , 1.00),
        ("Mars",     3396, 3.93,     1.530),
        ("Jupiter",  71492, 1.33,    5.210),
        ("Saturn",   60268,  0.69,   9.551),
        ("Uranus",   25559,   1.27,  19213),
        ("Neptune", 24764,   1.64,   30070)]

In [15]:
#function that returns the 2nd value: the radius
size= lambda planet: planet[1]

#check the lambda
size(planets[1])

6052

In [16]:
#using the key
planets.sort(key=size, reverse=True)

In [20]:
planets

[('Jupiter', 71492, 1.33, 5.21),
 ('Saturn', 60268, 0.69, 9.551),
 ('Uranus', 25559, 1.27, 19213),
 ('Neptune', 24764, 1.64, 30070),
 ('Earth', 6378, 5.52, 1.0),
 ('Venus', 6052, 5.24, 0.723),
 ('Mars', 3396, 3.93, 1.53),
 ('Mercury', 2440, 5.43, 0.3)]

<p> <span style="color:blue">listName</span>.sort(key = <span style="color:blue">keyName </span> )

<p> <span style="color:purple"> sort animals with key by speed , and reverse =True </span>

In [25]:
animals=[("African Elephant", 24.9, 4800),
         ("Brown Bear", 21.7, 278),
         ("Cheetah", 74.6, 54),
         ("Coyote", 42.9,13),
         ("Giraffe", 32.3, 800)
        ]

In [22]:
#use this lambda
speed = lambda animal: animal[1]

In [26]:
animals.sort(key=speed,reverse=True)
animals

[('Cheetah', 74.6, 54),
 ('Coyote', 42.9, 13),
 ('Giraffe', 32.3, 800),
 ('African Elephant', 24.9, 4800),
 ('Brown Bear', 21.7, 278)]

<p> <span style="color:purple"> sort animals with key by weight(2nd row) , and reverse =True </span>

In [28]:
#use this lambda:
weight= lambda animal:animal[2]

In [30]:
animals.sort(key=weight)
animals

[('Coyote', 42.9, 13),
 ('Cheetah', 74.6, 54),
 ('Brown Bear', 21.7, 278),
 ('Giraffe', 32.3, 800),
 ('African Elephant', 24.9, 4800)]

<h2> tuples </h2>

<h2> Dictionaries </h2>

<h2> Sets </h2>