<h1> Data Base</h1>

<h2> SQL Lite </h2>

(I)FCC -import file? connect cursor

In [4]:
import sqlite3 as db

In [32]:
#file and Connect
conn = db.connect('example.db')

In [33]:
#cursor
c = conn.cursor()

https://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html#inserting-and-updating-rows

<h3> Start Table and populate (INSERT INTO) </h3>

In [34]:
c.execute("DROP TABLE IF EXISTS Mus")
c.execute( "CREATE TABLE Mus(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, nation TEXT, born DATE, desc DATE)" )
c.execute("SELECT name FROM sqlite_master WHERE type='table';")

OperationalError: database is locked

In [8]:
#insert into
c.execute("INSERT INTO Mus VALUES(1, 'Van Beethoven','Germany',1770,1827)")
c.execute("INSERT INTO Mus VALUES(2, 'J.S Bach','Germany',1685,1750)")

In [7]:
conn.commit()

<h3> Queries </h3>

In [8]:
c.execute('''
SELECT * FROM Mus
''')
results= c.fetchall()
print(type(results))
results

<class 'list'>

[(1, 'Van Beethoven', 'Germany', 1770, 1827),
 (2, 'J.S Bach', 'Germany', 1685, 1750)]

<p> <span style='color=purple'>Insert F Couperin, FR, 1668-1733, J Haydn AT,1732-1809 </span>

In [22]:
c.execute("INSERT INTO Mus VALUES(3,'Francoise Couperin','France',1668,1733),(4,'Joseph Haydn','Austria',1732,1809)")
conn.commit()

IntegrityError: UNIQUE constraint failed: Mus.id

<p> inserting without id (automatic increment)

In [17]:
c.execute("INSERT INTO Mus (name,nation,born, desc)VALUES('W.A. Mozart', 'Austria',1756,1791)")

In [21]:
c.execute('''
        SELECT id, name, born, desc 
        FROM Mus 
        WHERE nation = 'Austria'
''')
results = c.fetchall()
print(results)

[(4, 'Joseph Haydn', 1732, 1809), (5, 'W.A. Mozart', 1756, 1791)]

In [13]:
c.execute('''
        SELECT name, nation
        FROM Mus 
        
''')
results = c.fetchall()
print(results)

[('Van Beethoven', 'Germany'), ('J.S Bach', 'Germany'), ('Francoise Couperin', 'France'), ('Joseph Haydn', 'Austria')]

In [15]:
c.execute("INSERT INTO  Mus VALUES(5,'Domenico Scarlatti','Italy',1685,1757)")

<p> <span style='color=purple'>SELECT all the musiscians from France and Italy </span>

In [21]:
c.execute('''
SELECT * FROM Mus
WHERE nation in ('France','Italy')
''')
results = c.fetchall()
print(results)

[(3, 'F. Couperin', 'France', 1668, 1733), (5, 'Domenico Scarlatti', 'Italy', 1685, 1757), (5, 'Domenico Scarlatti', 'Italy', 1685, 1757)]

<h3> Insert with AUTOINCREMENT </h3>

a new data base
<p> <span style="color:purple">create a new db "analytics.db
    <p> <span style="color:purple"> create a cursor c
    <p><span style="color:purple"> drop table Topics if exists</span>

In [ ]:
conn = db.connect("analytics.db")
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS Topics")

a new table is created with an id INTEGER which autoincrements using the 
`INTEGER PRIMARY KEY AUTOINCREMENT` statement

In [6]:
c.execute( "CREATE TABLE Topics(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT)")

<h4> Dynamically insert rows (variables in query) </h4>

In [7]:
#given the function
def insertTopic(L):
    '''assumes L is a list '''
    for itm in L:
         c.execute("INSERT INTO Topics(name) VALUES(?)",(itm,))

In [8]:
Topics=['General','Linear Regression', 'Logistic Regression', 'Trees', 'Text Analytics'
  'Clustering', 'Visualization', 'Linear Optimization', 'Integer Optimization']

insertTopic(Topics)
conn.commit()

let see the results

In [9]:
c.execute('''SELECT * FROM Topics''')
print(c.fetchall())

[(1, 'General'), (2, 'Linear Regression'), (3, 'Logistic Regression'), (4, 'Trees'), (5, 'Text AnalyticsClustering'), (6, 'Visualization'), (7, 'Linear Optimization'), (8, 'Integer Optimization')]

<h2> A 'comprehensive' example. (up to now!?!) </h2>

In [10]:
#importing
import sqlite3 as db

<p> <span style="color:purple">1. create a `presd` db object connected to `presidents.db`create a new db "analytics.db <br> 2. create a cp cursor for the db</span>

In [26]:
presd = db.connect("presidents.db")
cp = presd.cursor()

<p> <span style="color:purple"> create a table customers, the fields according to the following list</span>
<br>
hint for table creation:
    <br>
`c.execute("DROP TABLE IF EXISTS TableName")`<br>
    `c.execute( "CREATE TABLE tableName(idNameINTEGER PRIMARY KEY AUTOINCREMENT,  FieldName1 type1,FieldName2  type2,FieldName3 type3 )" )` <br>
    data types INTEGER,TEXT,BLOB, REAL, NUMERIC

In [15]:
custsFields=['customer_id','first_name', 'last_name','email','address','city','state', 'zipcode']

In [28]:
cp.execute("DROP TABLE IF EXISTS Customers")
cp.execute("CREATE TABLE Customers ( customer_id INTEGER PRiMARY KEY AUTOINCREMENT, first_name TEXT,          last_name TEXT, email TEXT, address TEXT, city TEXT, state TEXT, zipcode TEXT ) ")

In [31]:
presd.commit()
cp.execute("SELECT name FROM sqlite_master WHERE type='table';")

`cursor.execute("INSERT INTO tableName VALUES( , 'rowvalue','rowvalue2',rowvalueN)")`

In [37]:
cp.execute("INSERT INTO Customers VALUES(1,'George','Washington','gwashing@usa.gov','3200 mt vernon hy','Mont Vernon','VA','22121')")

<p> <span style="color:purple"> insert according to data provided</span>

In [71]:
adams=[2,'John','Adams', 'jadams@usa.gov','1250 HAncock St', 'Quincy','MA', '02169' ]
jeff = [3,'Thomas','Jefferson', 'tjeff@usa.gov', '931 Thomas JEf PKWY', 'Charlottesvile', 'VA','22902']
madison =[4,'James','Madison','jmadison@usa.gov','11350 Constitution Hwy','Orange','VA','22960'] 
monroe=[5,'James','Monroe','jmonroe@usa.gov','2050 James Monroe Parkway','Charlottesville','VA','22902']

def stringQueryList():
    pass

In [66]:
jeffst

'3,Thomas,Jefferson,tjeff@usa.gov,931 Thomas JEf PKWY,Charlottesvile,VA,22902'

In [46]:
cp.execute("INSERT INTO Customers VALUES(2,'John' , 'Adams', 'jadams@usa.gov','1250 HAncock St.', 'Quincy','MA', '02169') ")

In [74]:
cp.execute("INSERT INTO Customers VALUES( 3,'Thomas','Jefferson', 'tjeff@usa.gov', '931 Thomas JEf PKWY', 'Charlottesvile', 'VA','22902' )")
cp.execute("INSERT INTO Customers VALUES( 4,'James','Madison','jmadison@usa.gov','11350 Constitution Hwy','Orange','VA','22960' )")
cp.execute("INSERT INTO Customers VALUES( 5,'James','Monroe','jmonroe@usa.gov','2050 James Monroe Parkway','Charlottesville','VA','22902')" )

In [75]:
cp.execute('''
SELECT * FROM Customers
''')
results= cp.fetchall()
results

[(1,
  'George',
  'Washington',
  'gwashing@usa.gov',
  '3200 mt vernon hy',
  'Mont Vernon',
  'VA',
  '22121'),
 (2,
  'John',
  'Adams',
  'jadams@usa.gov',
  '1250 HAncock St.',
  'Quincy',
  'MA',
  '02169'),
 (3,
  'Thomas',
  'Jefferson',
  'tjeff@usa.gov',
  '931 Thomas JEf PKWY',
  'Charlottesvile',
  'VA',
  '22902'),
 (4,
  'James',
  'Madison',
  'jmadison@usa.gov',
  '11350 Constitution Hwy',
  'Orange',
  'VA',
  '22960'),
 (5,
  'James',
  'Monroe',
  'jmonroe@usa.gov',
  '2050 James Monroe Parkway',
  'Charlottesville',
  'VA',
  '22902')]

<p> <span style="color:purple"> create data orders with fields as provided by list <br>2.
insert according to data provided</span>

In [77]:
ordersFields= ['order_id','order_date', 'amount', 'customer_id']

In [85]:
cp.execute("DROP TABLE IF EXISTS Orders")
cp.execute("CREATE TABLE Orders(order_id INTEGER PRIMARY KEY, order_date DATE, amount NUMERIC, customer_id INTEGER )")

In [79]:
order1=[1,'07/04/1776', 234.56, 1]

In [86]:
cp.execute("INSERT INTO Orders VALUES(1,'07/04/1776', 234.56, 1)")

In [87]:
cp.execute('''
SELECT * FROM Orders
''')
results= cp.fetchall()
results

[(1, '07/04/1776', 234.56, 1)]

In [89]:
presd.commit()

<p> <span style="color:purple"> with inner join present the name, lasname and order date of  all orders</span>

In [91]:
cp.execute("SELECT first_name, last_name, order_date FROM Customers c INNER JOIN Orders o ON c.customer_id = o.customer_id")
result=cp.fetchall()
result

[('George', 'Washington', '07/04/1776')]